<h3>Categorias</h3>
<div class="row">
    <div class="col-12">
        <ul>
            {% for c in categories %}
            <li><a href="{% url 'catalog:show_category' c.slug %}">{{ c.name }}</a></li>
            {% endfor %}

            {% with active_categories as cats %}
            {% for c in cats %}
            <li>
                {% ifequal c.get_absolute_url request_path %}
                {{ c.name }}<br />
                {% else %}
                <a href="{% url 'catalog:show_category' c.slug %}" class="btn btn-link text-reset">{{ c.name }}</a><br />
                {% endifequal %}
            </li>
            {% endfor %}
            {% endwith %}
        </ul>
    </div>
</div>
